@using Platform
@using SmartApp.Sample3.WebUI
@model SmartApp.Sample3.Contracts.TagsDistributionView

<h2 class="page-header">Tags projection</h2>
<dl class="dl-horizontal">
    @{
        double speed = 0;
        if (Model != null)
        {
            speed = (Model.NextOffsetInBytes - Model.LastOffsetInBytes)/(DateTime.UtcNow - Model.DateProcessingUtc).TotalSeconds;
        }
    }
    <dt>Events proccessed:</dt>
    <dd>@(Model != null ? Model.EventsProcessed : 0)</dd>

    <dt>Bytes proccessed:</dt>
    <dd>@FormatUtil.SizeInBytes(Model != null ? Model.NextOffsetInBytes : 0) (@FormatEvil.SpeedInBytes(speed))</dd>

    <dt>Date</dt>
    <dd>@DateTime.Now</dd>
</dl>

<div id = "tag-chart"></div>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Tags</th>
        <th>Number of tags</th>
    </tr>
    @if (Model != null)
    {
        foreach (var pair in Model.Distribution.OrderByDescending(x => x.Value).Take(15))
        {
        <tr>
            <td>@pair.Key</td>
            <td>@pair.Value</td>
        </tr>
        }
    }
</table>
<br style="clear: both" />