@using ServiceStack.Text
@using SmartApp.Sample3.WebUI
@model Tuple<SmartApp.Sample3.Contracts.UserCommentsDistributionView, SmartApp.Sample3.Contracts.ProcessingInfoView>

<h2 class="page-header">Users projection</h2>
<dl class="dl-horizontal">
    <dt>Events proccessed:</dt>
    <dd>@(Model != null ? Model.Item2.EventsProcessed : 0)</dd>

    <dt>Bytes proccessed:</dt>
    <dd>@FormatUtil.SizeInBytes(Model.Item2 != null ? Model.Item2.NextOffsetInBytes : 0)</dd>

    <dt>Date</dt>
    <dd>@DateTime.Now</dd>
</dl>

<table class="table table-striped table-condensed table-bordered">
    <tr> 
        <th>User</th>
        <th>Comments per day of week</th>
    </tr>

    @if (Model.Item1.Distribution.Any())
    {
        var data = Model.Item1.Distribution
            .OrderByDescending(x => Model.Item1.Users.ContainsKey(x.Key) ? Model.Item1.Users[x.Key].Reputation : 0)
            .Take(15);

        foreach (var pair in data)
        {
            <tr>
                <td>@(Model.Item1.Users.ContainsKey(pair.Key)? Model.Item1.Users[pair.Key].Name : pair.Key.ToString())</td>
                <td><span class="bar">@JsonSerializer.SerializeToString(pair.Value).Trim('[', ']') </span></td>
            </tr>
        }
    }
</table>
<br style="clear: both" />

<script>
    $(function() {
        $('.bar').sparkline("html", {type: 'bar', barWidth: '20px'});
    });
</script>